BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
TabWidth: 8
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
AlignAfterOpenBracket: DontAlign
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignTrailingComments: false
AlwaysBreakAfterReturnType: TopLevel
BreakBeforeBinaryOperators: None
SpaceAfterCStyleCast: false
SortIncludes: false
KeepEmptyLinesAtTheStartOfBlocks: false
