#pathfoder: the folder to write log
pathfoder=C:/Users/nguye/Desktop/log_simple
#level:SPL_LOG_BASE:0, SPL_LOG_DEBUG:1, SPL_LOG_INFO:2, SPL_LOG_WARNING:3, SPL_LOG_ERROR:4, SPL_LOG_FATAL:5, SPL_LOG_PEAK:6
level=0
#buffsize(byte): size of buffer memory for each CPUs/Thread log, each CPU/Thread is for about 200KB.
buffsize=200000
#rotation_size(byte): size of each of log files. Min ~ 1MB, Maximum is for 2GB.
rotation_size=200000000
#topic: Split log into multi topics, each topic is a file. Here is 3 topics.
topic=sys,lib,exe,nayax,sksgn
#trigger: Create a trigger thread, if your device is embbedded device, trigger should be 0.
trigger=1
#ncpu : Number of CPUs, number of thread in your system. My PC: 8CPUs/16threads
#ncpu : If your device is embbedded device, then ncpu is for 1-2. If is mainframe, it may be 24, or 32
ncpu=15
#end_configuring: Put in end of this file to read configuring file no more
end_configuring=1